
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.container {
    width: calc(100% / 3);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}


.container form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
    width: 100%;
}



.container form input {
    outline: none;
    border: 1px solid #EEE;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    
}

.container form input, 
.container div {
    box-shadow: 0 2px 3px 0 #ccc;
}



.container .result {
    background-color: antiquewhite;
    width: 100%;
    height: 40px;
    font-size: 18;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

.container .btn button {
    border: none;
    box-shadow: 0 0 10px 0 #ccc;
    background: red;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}
.container .btn button:hover {
    background-color: white;
    color: red;
    transition: all .3s;
    border: 1px solid red;
}